.form-group{
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px 10px;
}
.savedInfo{
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px 10px;
}
.validations{
  color: red;
  font-size: 10px;
}
